[submodule "e-commerce"]
	path = e-commerce
	url = https://github.com/trevorcj/eShopExchange
[submodule "authentication-system"]
	path = authentication-system
	url = https://github.com/trevorcj/nairah.git
